
body {
  background-image: url('img/products/vertical-high-angle-shot-forest-mountains-with-white-sky.jpg');
  background-repeat: no-repeat; 
  background-position: center center; 
  background-attachment: fixed; 
  background-size: cover; 
  background-color: #333; 
  
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(255, 255, 255, 0.23)!important;
}
.fst-italic {
    font-style: italic !important;
}
.display-4 {
    font-weight: 300;
    line-height: 1.2;
    font-size: calc(1.475rem + 2.7vw);
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.bg-body-secondary {
    --bs-bg-opacity: 1;
    background-color:#ffffff5f  !important;
}
.card{
    transition: transform 0.3s ease;
    border: none;
    border-radius: 25px;
}
.card:hover {
    transform: scale(1.05);
}
img {
    border-radius: 25px;
    height: 200px;
    width: 425px;
}
.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: #15673e;
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #15673e;
}
a{
    color: white;
    text-decoration: none;
    font-weight: 100;
}
.progress, .progress-stacked {
    --bs-progress-height: 1rem;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: var(--bs-secondary-bg);
    --bs-progress-border-radius: var(--bs-border-radius);
    --bs-progress-box-shadow: var(--bs-box-shadow-inset);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #99ed93;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    border-radius: var(--bs-progress-border-radius);
}